:root{

    --soft-violet: #af67e9;
    --soft-blue: #6565e7;

    //Text
    --dark-blue: #1d1e35;
    --soft-red: #f47c57;
    --grayish-blue-dark: #4a4b5e;
    --grayish-blue: #787887;

    //Dividers
    --grayish-blue-light: #e7e7e9;
}